//padding
$espacio-main:5rem;
$espacio-sec:3rem;
$espacio-items:1rem;

//media 

$vista-tablet: 768px;
$vista-desktop: 1024px;

//font size
$fs-titulos: 1.3em;
$fs-descripciones: 1em;

//colores
$color-principal:#f3582b;
$color-secundario:#009d4c;

$color-focus:#a04ba2;
$color-texto_blanco:#ffffff;

$color-bg_categorias:#ffc800;
$color-bg-productos: #d5c9d93e;

//width

$width-100: 100%;

//border
$border-radius: 10px 30px 100px 40px;
